fastapi==0.111.0
uvicorn==0.30.1
python-dotenv==1.0.1
pydantic==2.7.4
langchain==0.2.6
langchain-openai==0.1.14
langchain-community==0.2.6
langgraph==0.1.1
langgraph-checkpoint==1.0.2
chromadb==0.5.3
sentence-transformers==3.0.1
requests==2.32.3